@charset "UTF-8";

/* 回答はここに書いてね */
table {
  width: 100%;
  table-layout: fixed;
}

th,td {
  padding: 10px;
  border: solid #dedede 1px;
  text-align: center;
  vertical-align: middle;
}

th {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
}

td {
  font-size: 16px;
  line-height: 22px;
}

tr:nth-child(odd) {
  background-color: #ecf1f2;
}

tr:last-child {
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
