@charset "UTF-8";

/* 回答はここに書いてね */
.button {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.button:first-of-type {
  margin-left: 0px;
}

.sma_btn{
  border-radius: 3px;
  font-size: 16px;
  padding: 0 15px ;
  height: 26px;
}

.mid_btn{
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
  height: 32px;
}

.lar_btn{
  border-radius: 7px;
  font-size: 24px;
  padding: 0 25px;
  height: 38px;
}

.com_btn {
  color: #fff;
  background-color: #00bcd4;
}

.err_btn {
  color: #fff;
  background-color: #ff4081;
}

.dis_btn {
  color: #fff;
  background-color: #e5e5e5;
  cursor: default;
}

.sha_btn {
  color: #222;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba( 0, 0, 0, .12);
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf1f2;
}

.form-title {
    position: relative;
    margin-bottom: 20px;
}

.form-title:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}

.form-title-text {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    background-color: #ecf1f2;
    font-size: 24px;
    font-weight: bold;
}

.main {
    float: left;
    width: 300px;
}

.main-items {
    margin-bottom: 20px;
}

.main-items > li {
    margin-top: 20px;
}

.main-items > li:first-child {
  margin-top: 0;
}

.main-items-title {
    float: left;
    width: 100px;
    line-height: 25px;
    text-align: right;
}

.asterisk {
  color: #f00;
}

.main-items-content {
    float: right;
    width: 180px;
}

.input-init {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
}

.q8__input:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.radio {
    cursor: pointer;
}

.radio-btn {
    display: none;
}

.radio-text {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
}

.radio-text:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
}

.radio-btn:checked + .radio-text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}


.select {
    position: relative;
}

.select:after {
    display: block;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    transform: rotate(45deg);
    content: "";
    pointer-events: none;
}

.select-body {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox {
    text-align: right;
}

.checkbox-btn {
    display: none;
}

.checkbox-text {
    position: relative;
    display: inline-block;
    padding-left: 24px;
}

.checkbox-text:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: -9px;
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
}

.checkbox-btn:checked + .checkbox-text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}

.main-bottom {
    text-align: right;
}

.main-bottom-btn {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #00BCD4;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
}

.main-bottom-btn:active {
  background-color: #FFF;
  color: #00BCD4;
}

.side {
    float: right;
    width: 380px;
}

.side-text {
    width: 100%;
    height: 203px;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
}

.side-text:focus {
  box-shadow: 0 0 7px #00BCD4;
}
/* 回答はここに書いてね */
