@charset "UTF-8";

/* 回答はここに書いてね */
.button {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.button:first-of-type {
  margin-left: 0px;
}

.sma_btn{
  border-radius: 3px;
  font-size: 16px;
  padding: 0 15px ;
  height: 26px;
}

.mid_btn{
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
  height: 32px;
}

.lar_btn{
  border-radius: 7px;
  font-size: 24px;
  padding: 0 25px;
  height: 38px;
}

.com_btn {
  color: #fff;
  background-color: #00bcd4;
}

.err_btn {
  color: #fff;
  background-color: #ff4081;
}

.dis_btn {
  color: #fff;
  background-color: #e5e5e5;
  cursor: default;
}

.sha_btn {
  color: #222;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba( 0, 0, 0, .12);
}
/* 回答はここに書いてね */
